.footer {
  padding: 20px 0;
}
.footer-container{
  padding: 48px 17px;
}
.social-wrapper{
  display: flex;
  justify-content: center;
  gap: 32px;
  margin-bottom: 40px;
}
.follow-text{
  font-size: 14px;
  color: #bacdcc;
}
.footer-navigation{
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 14px;
  text-decoration: underline;
color: #bacdcc;
margin-bottom: 40px;
}
.footer-text{
  font-size: 14px;
  color: #bacdcc;
}
@media only screen and (min-width: 1439px) {
  .footer-container{
    padding: 80px;
    display: flex;
    justify-content: space-between;
  }
  .social-wrapper{
    order: 2;
  }
  .footer-navigation{
    order: 3;
  }
  .footer-text{
    order: 1;
  }
}